<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#2196F3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="theme-color" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Hello World" />
    <meta name="msapplication-TileImage" content="/Images/hello-icon-144.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/Images/hello-icon-152.png">
    <link rel="manifest" href="~/manifest.json">
    <title>Pro-Learning</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="~/Images/logo.png" alt="logo" /></a>
                    </div>
                    @*<div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Courses</a></li>
                        </ul>
                    </div>*@
                    <div id="notis"></div>
                </div>
            </div>
        </header><!-- end header -->
        @RenderBody()
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">Our Contact</h5>
                            <address>
                                <strong>HCL Technologies</strong><br>
                                Sector-126,<br>
                                Pin-201301 Noida India.
                            </address>
                            <p>
                                <i class="icon-phone"></i> (012) 011 - 2356890 <br>
                                <i class="icon-envelope-alt"></i> email@hcl.com
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">Quick Links</h5>
                            <ul class="link-list">
                                <li><a href="#">Courses</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">Latest posts</h5>
                            <ul class="link-list">
                                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                                <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                                <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">Recent News</h5>
                            <ul class="link-list">
                                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                                <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                                <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>
                                    <span>&copy; All right reserved.</span><br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/firebase-app.js"></script>
    <script src="/firebase-messaging.js"></script>
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        //MsgElem = document.getElementById("msg")
        //TokenElem = document.getElementById("token")
        NotisElem = document.getElementById("notis")
        //ErrElem = document.getElementById("err")
        // Initialize Firebase
        // TODO: Replace with your project's customized code snippet
        var config = {
            apiKey: "AIzaSyChqfKzAvr_BK4LUvoA_Mc22Lw18NLyoGA",
            authDomain: "pro-learning.firebaseapp.com",
            databaseURL: "https://pro-learning.firebaseio.com",
            projectId: "pro-learning",
            storageBucket: "pro-learning.appspot.com",
            messagingSenderId: "979804528771",
            appId: "1:979804528771:web:98eaa333f3cc90d33fbbb6",
            measurementId: "G-N0ST92TJSK"
        };
        firebase.initializeApp(config);

        const messaging = firebase.messaging();
        messaging
            .requestPermission()
            .then(function () {
                //MsgElem.innerHTML = "Notification permission granted."
                console.log("Notification permission granted.");

                // get the token in the form of promise
                return messaging.getToken()
            })
            .then(function(token) {
                //TokenElem.innerHTML = "token is : " + token
                console.log("token is : " + token);
            })
            .catch(function (err) {
                //ErrElem.innerHTML =  ErrElem.innerHTML + "; " + err
                console.log("Unable to get permission to notify.", err);
            });

        messaging.onMessage(function(payload) {
            console.log("Message received. ", payload);
            NotisElem.innerHTML = NotisElem.innerHTML + JSON.stringify(payload);
        });
    </script>


    <script>
        // Let us open our database
        var dbName = 'pwa-demo';
        var storeName = 'courses';
        var version = 1;
        //updatePage();

        $(document).ready(function () {

            //setInterval(function () {
            //    displayNotification();
            //}, 50000)

            var networkDataReceived = false;
            // fetch fresh data
            var networkUpdate = fetch('/Home/GetAllCourses').then(function (response) {
                return response.json();
            }).then(function (data) {
                networkDataReceived = true;
                $.each(data, function (i, item) {
                    if (item.Id >= 1 && item.Id <= 3) {
                        var rows = "<div class='col-md-4'><div class='textbox'><h3><a href='/CourseDetail.html?filename=6-1-Exercises.pdf'>" + item.Title + "</a></h3><p>" + item.Description + "</p></div></div>";
                        $('#divCourseRow1').append(rows);
                    }
                    if (item.Id >= 4 && item.Id <= 6) {
                        var rows = "<div class='col-md-4'><div class='textbox'><h3>" + item.Title + "</h3><p>" + item.Description + "</p></div></div>";
                        $('#divCourseRow2').append(rows);
                    }

                    if (item.Id >= 7) {
                        var rows = "<div class='col-md-4'><div class='textbox'><h3>" + item.Title + "</h3><p>" + item.Description + "</p></div></div>";
                        $('#divCourseRow3').append(rows);
                    }

                }); //End of foreach Loop
                //createDB(data);
            }).catch(function () {
                //return updatePage();
            });
        });

        function updatePage()
        {
            var request = indexedDB.open(dbName, version);
            request.onerror = function (event) {
                // Handle errors.
            };

            request.onsuccess = function (event) {
                var db = event.target.result;
                var objectStore = db.transaction(["courses"], "readwrite").objectStore("courses");
                var objectStoreRequest = objectStore.getAll();

                objectStoreRequest.onsuccess = function (event) {
                    var data = objectStoreRequest.result;
                    $("#divCourseRow1").html('');
                    $("#divCourseRow2").html('');
                    $("#divCourseRow3").html('');
                    $.each(data, function (i, item) {
                        if (item.Id >= 1 && item.Id <= 3) {
                            var rows = "<div class='col-md-4'><div class='textbox'><h3><a href='/CourseDetail.html?filename=6-1-Exercises.pdf'>" + item.Title + "</a></h3><p>" + item.Description + "</p></div></div>";
                            $('#divCourseRow1').append(rows);
                        }
                        if (item.Id >= 4 && item.Id <= 6) {
                            var rows = "<div class='col-md-4'><div class='textbox'><h3>" + item.Title + "</h3><p>" + item.Description + "</p></div></div>";
                            $('#divCourseRow2').append(rows);
                        }

                        if (item.Id >= 7) {
                            var rows = "<div class='col-md-4'><div class='textbox'><h3>" + item.Title + "</h3><p>" + item.Description + "</p></div></div>";
                            $('#divCourseRow3').append(rows);
                        }

                    }); //End of foreach Loop
                };
            };
        }

        function createDB(data) {
            var request = indexedDB.open(dbName, version);
            request.onerror = function (event) {
                // Handle errors.
            };

            request.onupgradeneeded = function (event) {
                var db = event.target.result;
                var objectStore = db.createObjectStore(storeName, { keyPath: "Id" });
                objectStore.transaction.oncomplete = function (event) {
                    var courseObjectStore = db.transaction(storeName, "readwrite").objectStore(storeName);
                    data.forEach(function (course) {
                        courseObjectStore.add(course);
                    });
                };
            };
        }


        $("#btnSubmit").click(function () {
            var divCount = $("div.textbox").length;
            var url = "/Home/AddCourses";
            var title = $("#txtTitle").val();
            var desc = $("#txtDesc").val();
            $.post(url, { Id: divCount + 1, Title: title, Description: desc }, function (data) {
                window.location.reload();
            });
        });

    </script>
</body>
</html>
